    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">Sama Tech</h1>
                    </a>
                    
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Adresse</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>ACI 2000 Hamdallaye, Bamako, Mali</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+223XXXXXXXX</p>
                    <p><i class="fa fa-envelope me-3"></i>info&#64;sama.tech</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Services</h5>
                    <a class="btn btn-link" href="">Nos excellentes solutions d'IA et Tech pour votre entreprise</a>
                    <a class="btn btn-link" href="">Développement et déploiement de solutions d'IA sur mesure</a>
                    <a class="btn btn-link" href="">Machine learning</a>
                    <a class="btn btn-link" href="">Analyse de données avancée pour l'optimisation des processus métier</a>
                    <a class="btn btn-link" href="">Développement de Logiciels sur mesure</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Sama Tech</a>, All Right Reserved.

                        Designed By <a class="border-bottom" href="sama.money">Sama Holding</a> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
