    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a routerLink="" fragment="hero" class="navbar-brand">
                    <h1 class="text-white">Sama Tech</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a routerLink="" class="nav-item nav-link"routerLinkActive="active">Acceuil</a>
                        <a routerLink="" fragment="services" class="nav-item nav-link">Services</a>
                        <a routerLink="" fragment="projects" class="nav-item nav-link">Projects</a>
                       
                        <a routerLink="" fragment="about"  class="nav-item nav-link">Qui Sommes-nous</a>
                        <a routerLink="" fragment="contact"  class="nav-item nav-link">Contact</a>
                    </div>
                    
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
