<div class="row">
    <h2>Statistiques</h2>
</div>

<div class="row">
    <h2 class="leading">Gestion de contenu</h2>
  <div class="col-xl-3 col-sm-6 col-12"> 
    <div routerLink="../gestion-offres" class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="icon-pencil primary font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3>Nos Offres</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="icon-pencil primary font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3>Nos Realisations</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="icon-pencil primary font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3>Nos Partenaires</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="icon-pencil primary font-large-2 float-left"></i>
            </div>
            <div class="media-body text-right">
              <h3>Messages Recus</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
 </div>
