<div class="container-fluid px-5">
  <h2 class="text-center text-primary">{{ projet["titre"] }}</h2>

  <p class="text-center mt-2">{{ projet["shortDescription"] }}</p>

  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
    data-interval="3000" 
  >
    <div class="carousel-inner w-75 mx-auto my-5" style="max-height: 70vh">
      @for (img of projet['imagesDataPaysage'] ; track $index ) {
      <div class="carousel-item" [ngClass]="{ active: $index == 0 }">
        <img
          width="700"
          height="500"
          src="{{ projet['imagesDataPaysage'][0]['base64Data'] }}"
          class="d-block w-100 rounded"
          alt="..."
        />
      </div>
      }

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <p
      [innerHTML]="projet['description']"
      class="wow fadeIn"
      data-wow-delay="0.3s"
    ></p>
  </div>
</div>
