<div id="partenaires">
    <div
      class="mx-auto text-center wow fadeIn"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
     
      <h2 class="mb-4 text-primary">Nos Partenaires</h2>
    </div>
        <div class="scrolling-wrapper row flex-row flex-nowrap mx-5 mt-4 pb-4 pt-2 disable-scrollbars">
         
            
              
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt=""> 
                <img class="mx-1" src="{{partenaireListe[0]['logoUrl']}}" alt="">        
              
           
          
         </div>
      
</div>
